.App {
  text-align: center;
}

.card{
  background-color: rgb(238, 223, 161);
  padding: 20px;
  margin: 50px;
  border: 1px solid lightseagreen;
  border-radius: 15px;
}

.lead{
  font-size: 20px;
  font-weight: 350;
  color: rgb(77, 75, 75);
}

.btn{
  padding: 10px 20px;
  outline: none;
  font-size: 19px;
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
}